button {
    border: none;
    border-radius: 12px;
    color: #adefd1ff;
    background-color: #863A6F;
    font-family: cursive;
    font-size: larger;
    cursor: pointer;
    width:120px;
  }
  .container{
    display: flex;
    flex-direction: column;
  }